.resturant-shimmer-container {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.resturant-shimmer-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
}

.resturant-line {
  width: 80%;
  height: 10px;
  background: #f6f8fa;
  margin: 10px;
  border-radius: 2px;
}

.resturant-contents {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  background-color: #f6f8fa;
}

.menu-title-shimmer,
.menu-details,
.cart {
  width: 90%;
  height: 50vh;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
}

.menu-details > .resturant-line {
  margin: 20px;
}
